@import url ("https://fonts.google.com/specimen/Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(225, 100%, 94%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 10px;
  position: relative;
  align-items: center;
  font-family: "Red Hat Display", sans-serif;
  overflow-x: hidden;
  background-image: url("images/pattern-background-desktop.svg");
  background-size: auto;
  background-repeat: no-repeat;
}

main {
  text-align: center;
  display: flex;
  margin-top: 10rem;
  max-width: 100%;
  width: 400px;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fff;
}

.header-image img {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}

.order-summary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.order-summary h1 {
  font-weight: 900;
  color: hsl(224, 23%, 55%);
}

.order-summary p {
  font-size: 15px;
  color: hsl(223, 47%, 23%);
}

.plans {
  background-color: hsl(225, 100%, 98%);
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 1rem;
  position: relative;
  justify-content: start;
  padding: 20px;
  border-radius: 10px;
}

.plans > .plan-detail {
  text-align: left;
}

.plans > h3 {
  font-weight: 700;
  color: hsl(223, 47%, 23%);
}

.plans > a {
  font-weight: 700;
  color: hsl(245, 75%, 52%);
  position: absolute;
  right: 20px;
  font-size: 13px;
}

button {
  background: none;
  border: none;
  font-size: 17px;
  font-family: "Red Hat Display", sans-serif;
  border-radius: 10px;
  padding: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

button.payment {
  background-color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 94%);
}

button.cancel {
  color: hsl(224, 23%, 55%);
}

button:hover {
  background-color: hsl(223, 47%, 23%);
  color: #fff;
}

  .attribution { font-size: 11px; text-align: center; padding: 1rem;}
  .attribution a { color: hsl(228, 45%, 44%); }

  @media screen and (max-width: 582px) {
  body {
    background-image: url("images/pattern-background-mobile.svg");
  }
}
